/* Coolors Exported Palette - coolors.co/f2b800-bf1a2f-f00699-454e9e-018e42 */

/* HSL */
$color1: hsla(46%, 100%, 47%, 1);
$color2: hsla(352%, 76%, 43%, 1);
$color3: hsla(322%, 95%, 48%, 1);
$color4: hsla(234%, 39%, 45%, 1);
$color5: hsla(148%, 99%, 28%, 1);

/* RGB */
$color1: rgba(242, 184, 0, 1);
$color2: rgba(191, 26, 47, 1);
$color3: rgba(240, 6, 153, 1);
$color4: rgba(69, 78, 158, 1);
$color5: rgba(1, 142, 66, 1);
